body{
    background-color: #efefef;
}

.main {
    background-color: white;
    margin-top: 40px;
}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}

.media-object{
    width: 45px;
    height: 45px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section{
    margin-top: 15px;
}

.community-menu{
    color: #999;
    font-size: 13px;
}

.web-width{
    width: 1184px;
}

.font-bold{
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.primary-wrapper{
    float: left;
    width: 440px;
}

.info-company{
    float: right;
    width: 350px;
}

.job_primary{
    height: 130px;
    box-sizing: border-box;
    padding: 0;
}
ul,ol,li{
    list-style:none;
}

.job_menu{
    margin-top: 30px;
    font-size: 16px;
    color: #0f0f0f;
}

.menu_name{
    width: 95px;
}

.nav2 li{
    width: 200px;
    display:inline-block;
    height: 28px;
    padding-left: 100px;
}


