<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>求职通</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/community.css"/>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid web-width main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <div class="job_list">
                <ul >
                    <li>
                        <div class="job_primary">
                            <div class="primary-wrapper">
                                <a href="#" class="list-group-item">
                                    <h4 class="list-group-item-heading">软件开发师</h4>
                                    <p class="list-group-item-text"></p>
                                </a>
                            </div>
                            <div class="info-company">爱奇艺</div>
                        </div>
                    </li>
                    <li>
                        <div class="job_primary">
                            <div class="primary-wrapper">
                                <a href="#" class="list-group-item">
                                    <h4 class="list-group-item-heading">软件测试师</h4>
                                    <p class="list-group-item-text"></p>
                                </a>
                            </div>
                            <div class="info-company">爱奇艺</div>
                        </div>
                    </li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>看过的职位</h3>
        </div>
    </div>
</div>
</body>
</html>